<% content_for :head do %> 
<%= render :partial => "sections/show_menu" %>
<% end %>

<% unless @section.reports.empty? %>

<p>Izvjesca:</p>

<% for report in @reports do %>
<%= link_to "#{report.document_file_name}", report.document.url %> | 
<%= report.year %> |
<%= link_to '[x]', section_report_url(@section, report), :method => :delete, :confirm => "Are you sure?" %>
<br/>
<% end %>
<% end %>

<p><%= link_to 'New', new_section_report_url %></p>
