<% content_for :head do %> 
  <%= render :partial => "sections/show_menu" %>
<% end %>

<div>
  <%= error_messages_for :reports %>
</div>

<%= form_tag section_reports_url(@section), { :multipart => true } do %>
  <div>
    Izvjestaj za spremanje:</br>
    <%= file_field_tag :document %>
  </div>

  <div>
    Godina izvjesca:</br>
    <%= select_year Date.today %> 
  </div>

  <div>
    <%= submit_tag 'Spremi izvjesce' %>
  </div>
<% end %>
