<% form_tag url_for(:controller => 'mailing', :action => 'send_group_mail') do %>

Subject:<br/>
<p>
<%= text_field_tag 'subject' %>
</p>

Body:<br/>
<p>
<%= text_area_tag 'body' , nil , :rows => 20 , :cols=> 40 %>
</p>

<p>
Primaoci:<br/>
<%= radio_button_tag 'recipients' , 'upravni' %> Upravni odbor <br/>
<%= radio_button_tag 'recipients' , 'nadzorni' %> Nadzorni odbor <br/>
<%= radio_button_tag 'recipients' , 'voditelji' %> Voditelji <br/>
<%= radio_button_tag 'recipients' , 'svi' %> Svi clanovi <br/>
</p>

<p> 
<%= submit_tag 'Posalji' %> 
</p>

<% end %>
