<% content_for :head do %> 
<%= render :partial => "books/show_menu" %>
<% end %>

<%= error_messages_for :loan %>

<%= form_for [@book, @loan] do |f| %>

<%= book_loans_form(f) %>

<p> <%= f.submit 'Create' %> </p>

<% end %>
