<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<%= error_messages_for :notification %>

<% form_for @notification , new_notification_url do |form| %>

<p>
Title:<br/>
<%= form.text_field :title %>
</p>

<p>
Body:<br/>
<%= form.text_area :body, :rows => '10', :cols => '30' %>
</p>

<% unless @tags.empty? %>
<p>
Tags: <br/>
<% for tag in @tags %>
 <%= tag.title %> <%= check_box_tag('tag_ids[]', tag.id) %> |
<% end %>
</p>

<% else %>
<%= flash[:tags] %>

<% end %>
<p>
<%= submit_tag 'Create' %>
</p>

<% end %>
