<% content_for :head do %> 
  <%= render :partial => "index_menu" %>
<% end %>

<%= form_tag search_notifications_path do %>
  <div>
    Naslov...<br/>
    <%= text_field_tag 'keyword' %>
    <%= submit_tag "Search" %>
  </div>
<% end %>


<% unless @notifications.empty? %>
  <div>
    <table border='1'>

      <tr>
        <th>Title</th>
        <th>Body</th></tr>

      <% for notification in @notifications %>
        <tr>
          <td><%= link_to notification.title, notification_url(notification) %></td>
          <td><%=h notification.body %></td>
        </tr>
      <% end %>

    </table>
  </div>
<% end %>
