<h1>Project#Report</h1>
<%= render :partial => "/projects/show_menu" %>

<% unless @project.report.nil? %>

<p>Izvjesce:</p>

filename: <%= @project.report.filename %> | 
<%= link_to '[v]', download_project_report_url(@project) %> | 
<%= link_to '[x]', project_report_url(@project), :method => :delete, :confirm => "Are you sure?" %>
<br/>
<% end %>

<p><%= link_to 'Upload', upload_project_report_url %></p>
