<% content_for :head do %> 
<%= render :partial => "projects/show_menu" %>
<% end %>

<% unless @project.report.nil? %>

<p>Izvjesce:</p>

filename: <%= @project.report.filename %> | 
<%= link_to '[v]', download_project_report_url(@project) %> | 
<%= link_to '[x]', project_report_url(@project), :method => :delete, :confirm => "Are you sure?" %>
<br/>
<% end %>

<p><%= link_to 'New', new_project_report_url(@project) %></p>
