<% content_for :head do %> 
<%= render :partial => "sections/show_menu" %>
<% end %>


<p>
<% unless @memberships.empty? %>
Clanovi:<br/>
<ul>

<% for m in @memberships %>
<li>
<%= link_to "#{m.member.first_name} #{m.member.last_name}", member_url(m.member.id) %>
<%= link_to "[d]", section_membership_url(@section, m.id), :method => :delete %>
<%= link_to "[>l]", section_membership_url(@section, m.id, :role => SectionMembership::ROLE[:leader]), :method => :put %>
</li>
<% end %>

</ul>

<hr/>
<% end %>
</p>

<p>
<% unless @leaderships.empty? %>
Voditelji:<br/>
<ul>

<% for l in @leaderships %>
<li>
<%= link_to "#{l.member.first_name} #{l.member.last_name}", member_url(l.member.id) %>
<%= link_to "[d]", section_membership_url(@section, l.id), :method => :delete %>
<%= link_to "[>m]", section_membership_url(@section, l.id, :role => SectionMembership::ROLE[:member]), :method => :put %>
</li>
<% end %>

</ul>
<hr/>

<% end %>
</p>

<p>
<%= link_to 'New', new_section_membership_url(@section) %> | 
<%= link_to 'Apply', apply_section_memberships_url(@section) %>
</p>
