<% content_for :head do %> 
  <%= render :partial => "index_menu" %>
<% end %>

<%= form_tag search_projects_path do %>
  <div>
    Naziv...<br/>
    <%= text_field_tag 'keyword' %>
    <%= submit_tag "Search" %>
  </div>
<% end %>


<% unless @projects.empty? %>
  <div>
    <ul>
      <% for project in @projects %>
        <li><%= link_to project.title, project_url(project) %></li>
      <% end %>
    </div>
  </ul>
<% end %>
