<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<p>Naziv: <%= @project.title %></p>

<p>
Svrha:<br/>
<%= @project.purpose %>
</p>

<p>Godina: <%= @project.year %></p>

<p>Izvrsitelj: <%= @project.execution %></p>

<p>
Suradnje:<br/>
<%= @project.cooperations %>
</p>

<p>
Priznanja:<br/>
<%= @project.recognitios %>
</p>
