<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<%= error_messages_for :book %>

<%= form_for @book do |f| %>

<%= render_form('form', f) %>

<p> <%= submit_tag 'Update' %> </p>
    
<% end %>
