<div>
  Tip: 
  <%= f.select :in_out, {"Dolazni" => Transfer::TYPE[:incoming], "Odlazni" => Transfer::TYPE[:outgoing]} %>
</div>

<div>
  Dopis:<br/>
  <%= file_field :letter, :document %>
</div>

<div>
  Datum slanja/primanja:<br/>
  <%= f.date_select :date , :order => [:day, :month, :year], :start_year => 2000  %>
</div>

<div>
  Posiljatelj:<br/>
  <%= f.text_field :from %>
</div>

<div>
  Primatelj:<br/>
  <%= f.text_field :to %>
</div>

<div>
  Predmet:<br/>
  <%= f.text_field :subject %>
</div>

<div>
  Urudzbeni broj (sljedeci izlazni je <%= @next_dn %>)<br/>
  <%= f.text_field :delivery_number %> 
</div>
