<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<%= error_messages_for :letter %>

<%= form_for @letter, :html => {:multipart => true} do |f| %>

<%= render_form('form', f) %>

<p><%= f.submit 'Update' %></p>

<% end %>
