<% content_for :head do %> 
<%= render :partial => "index_menu" %> : <%= render :partial => "sub_menu" %>
<% end %>

<% unless @letters.empty? %>

<p>
<table border='1'>

<tr>
<th>Ur #</th>
<th>Posiljatelj</th>
<th>Primatelj</th>
<th>Predmet</th>
<th>Datum</th>
</tr>

<% for l in @letters %>
<tr>
<td><%= link_to l.delivery_number, letter_url(l) %></td>
<td><%=h l.from %></td>
<td><%=h l.to %></td>
<td><%=h l.subject %></td>
<td><%=h l.date %></td>

</tr>
<% end %>
</table>
</p>

<% end %>

<p><%= link_to 'New', new_letter_url %></p>
