<h1>Letters#index</h1>
<p><%= render :partial => "index_menu" %> - <%= render :partial => "sub_menu" %></p>
<hr/>

<% unless @letters.empty? %>

<p>
<table border='1'>

<tr>
<th>Posiljatelj</th>
<th>Primatelj</th>
<th>Predmet</th>
<th>Datum</th>
<th>Urudzbeni #</th>
</tr>

<% for l in @letters %>
<tr>
<td><%=h l.from %></td>
<td><%=h l.to %></td>
<td><%= link_to l.subject, letter_url(l) %></td>
<td><%=h l.date %></td>
<td><%=h l.delivery_number %></td>

</tr>
<% end %>
</table>
</p>

<% end %>

<p><%= link_to 'New', new_letter_url %></p>
