<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<p>Posiljatelj: <%= @letter.from %></p>

<p>Primatelj: <%= @letter.to %></p>

<p>Predmet: <%= @letter.subject %></p>

<p>Urudzbeni broj: <%= @letter.delivery_number %></p>

<p>Dopis: <%= link_to @letter.document_file_name, @letter.document.url %> 
