<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<%= error_messages_for :tags %>

<% form_for @tag do |form| %>

<p>
Title:<br/>
<%= form.text_field :title %>
</p>

<p>
Description:<br/>
<%= form.text_area :description, :rows => '10', :cols => '30' %>
</p>

<p><%= submit_tag 'Update' %></p>

<% end %>
