<% content_for :head do %> 
  <%= render :partial => "index_menu" %>
<% end %>

<%= form_tag search_tags_path do %>
  <div>
    Title...<br/>
    <%= text_field_tag 'keyword' %>
    <%= submit_tag "Search" %>
  </div>
<% end %>


<% unless @tags.empty? %>
  <div>
    <table border='1'>

      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>

      <% for tag in @tags %>
        <tr>
          <td><%= link_to tag.title, tag_url(tag) %></td>
          <td><%=h tag.description %></td>
        </tr>
      <% end %>

    </table>
  </div>
<% end %>
