<h1>Tags#show</h1>

<p>
	<%= @tag.title %> | 
	<%= link_to '[e]', edit_tag_url(@tag) %> | 
	<%= link_to '[x]', tag_url(@tag), :method => :delete %>
</p>

<p>Description: <%= @tag.description %><p/> 

<p><%= link_to 'Back', tags_url %></p>
