<h1>Item#Loans#index</h1>
<%= render :partial => "items/show_menu" %>
<hr/>

<% unless @item.loans.empty? %>
<ul>
  <% for l in @item.loans %>
  <li>
  Posudio: <%= link_to l.borrower.name, member_url(l.borrower) %> | 
  Odobrio: <%= link_to l.lender.name, member_url(l.lender) %> | 
  Datum posudbe: <%= link_to l.date_from, edit_item_loan_url(@item, l) %> | 
  Datum povratka: <%= link_to l.date_to, edit_item_loan_url(l) if l.date_to %>
  </li>
  <% end %>
</ul>
<% end %>

<%= link_to 'New', new_item_loan_url(@item) %>
