<% content_for :head do %> 
<%= render :partial => "items/show_menu" %>
<% end %>

<%= error_messages_for :loan %>

<%= form_for [@item, @loan] do |f| %>

<%= render_form(f, 'loans/form') %>

<p> <%= f.submit 'Create' %> </p>

<% end %>
