<% content_for :head do %> 
<%= render :partial => "profile_menu" %>
<% end %>


<p>Ime: <%= @user.first_name %></p>
<p>Prezime: <%= @user.last_name %></p>
<p>Email: <%= @user.email %></p>
<p>Telefon: <%= @user.phone %></p>
<p>Prebivaliste: <%= @user.residence %></p>
<p>Mjesto rodjenja: <%= @user.birthplace %></p>
<p>Datum rodjenja: <%= @user.birthdate %></p>
<p>Aktivan? <%= @user.is_active %></p>
<p>Diplomirao? <%= @user.graduated %></p>
<p>Smjer: <%= @user.department %></p>
<p>Broj indeksa: <%= @user.index_nmb %></p>
<p>Godina upisa studija: <%= @user.enrolment_year %></p>
<p>Datum pristupa BIUSu: <%= @user.join_date %></p>

