<% content_for :head do %> 
<%= render :partial => "fieldworks/show_menu" %>
<% end %>

<% unless @fieldwork.report.nil? %>

<p>Izvjesce:</p>

filename: <%= @fieldwork.report.filename %> | 
<%= link_to '[v]', download_fieldwork_report_url(@fieldwork) %> | 
<%= link_to '[x]', fieldwork_report_url(@fieldwork), :method => :delete, :confirm => "Are you sure?" %>
<br/>
<% end %>

<p><%= link_to 'New', new_fieldwork_report_url(@fieldwork) %></p>
