<h1>Fieldwork#Report#upload</h1>
<%= render :partial => "/fieldworks/show_menu" %>

<p><%= error_messages_for :reports %></p>


<% form_tag fieldwork_report_url(@fieldwork), { :multipart => true } do %>

<p>
Izvjestaj za spremanje:</br>
<%= file_field_tag :report %>
</p>

<p>
<%= submit_tag 'Spremi izvjesce' %>
</p>

<% end %>

<%= link_to 'Back', fieldwork_report_url(@fieldwork) %>
