<% content_for :head do %> 
<%= render :partial => "show_menu" %>
<% end %>

<%= error_messages_for :item %>

<%= form_for @item do |f| %>

<%= render_form('form', f) %>

<p> <%= f.submit 'Update' %> </p>
    
<% end %>
