<h1>Items#edit</h1>

<%= error_messages_for :item %>

<% form_for @item do |form| %>

Predmet:<br/>
<p><%= form.text_field :name %></p>
		
Inventarski broj:<br/> 
<p><%= form.text_field :inventory_number %></p>
    
Datum nabave:<br/> 
<p><%= form.date_select :procurement_date , :order => [:day, :month, :year] , :start_year => 2000 %></p>

Napomena uz nabavku:<br/>
<p><%= form.text_area :procurement_note , :rows => 10 , :cols=> 20 %></p>

Opis stanja:<br/>
<p><%= form.text_area :state , :rows => 10 , :cols=> 20 %></p>

Predmet nabavio:
<p>
	<ul>
		<% for p in @procurers %>
		<li><%= form.radio_button :procurer_id , p.id %> <%= p.first_name %> <%= p.last_name %></li>
		<% end %>
	</ul>
</p>

<p> <%= submit_tag 'Update item' %> </p>
    
<% end %>

<%= link_to 'Back', items_url %>

<!-- Pretrazi po clanovima...
<% form_tag url_for(:controller => 'items', :action => 'edit') do %>
	
	Ime/Prezime...
	<p><%= text_field_tag 'keyword' %></p>
	<p><%= submit_tag "Search" %></p>
	
<% end %>

<%= hidden_field_tag 'id' , @item.id %> -->
