<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<%= error_messages_for :item %>

<%= form_for Item.new do |f| %>

<%= render_form('form', f) %>

<p> <%= submit_tag 'Create' %> </p>
    
<% end %>
