<h1>Items#new</h1>
<%= render :partial => "index_menu" %>
<hr/>

<%= error_messages_for :item %>

<% form_for @item do |form| %>

<p>
Predmet:<br/>
<%= form.text_field :name %>
</p>

<p>
Inventarski broj:<br/>
<%= form.text_field :inventory_number %>
</p>

<p>
Datum nabave:<br/> 
<%= form.date_select :procurement_date , :order => [:day, :month, :year] , :start_year => 2000 %>
</p>

<p>
Napomena uz nabavku:<br/>
<%= form.text_area :procurement_note , :rows => 5 , :cols=> 20 %>
</p>

<p>
Opis stanja:<br/>
<%= form.text_area :state, :rows => 10 , :cols=> 20 %>
</p>

<p> <%= submit_tag 'Create' %> </p>
    
<% end %>
