<h1>Items#show</h1>
<%= render :partial => "show_menu" %>
<hr/>

<p>Naziv: <%=@item.name %></p>

<p>Inventarski broj: <%= @item.inventory_number %></p>

<p>Datum nabave: <%= @item.procurement_date%></p>

<p>
Napomena uz nabavku:<br/>
<%= @item.procurement_note %>
</p>

<p>
Stanje:<br/>
<%= @item.state %>
</p>
