<% content_for :head do %> 
<%= render :partial => "index_menu" %>
<% end %>

<%= error_messages_for :transfer %>

<%= form_for @transfer do |f| %>

<%= render_form('form', f) %>

<p><%= f.submit 'Create' %></p>

<% end %>
