<% form_tag url_for(:controller => 'mailing', :action => 'send_mass_mail') do %>

Subject:<br/>
<p>
<%= text_field_tag 'subject' %>
</p>

Body:<br/>
<p>
<%= text_area_tag 'body' , nil , :rows => 20 , :cols=> 40 %>
</p>

<p>
Sudionici:
<ul>
<% for member in @recipients %>
	<li><%= check_box_tag('recipients[]', member.id) %> <%= link_to "#{member.first_name} #{member.last_name}", :controller=>'members', :action=>'show', :id=>member.id %></li>
<% end %>
</ul>
</p>

<p> 
<%= submit_tag 'Posalji' %> 
</p>

<% end %>

<% form_tag({:controller => :mailing , :action => :send_mass_mail}) do %>
  
<p>
Ime/Prezime...<br/>
<%= text_field_tag 'keyword' %>
<%= submit_tag "Search" %>
</p>
  
<% end %>

